*{
    font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

svg, img{
  transition: transform 0.3s ease; /* Imposta la durata della transizione a 0.3 secondi con una funzione di easing */
}

svg:hover {
  transform: scale(1.2);
}

img:hover {
  transform: scale(1.02);
}


/* loading.css */

/* Stile per il body durante il caricamento */

  /* Aggiungi uno stile per il div di caricamento */
  #loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Sfondo semitrasparente bianco */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s; /* Aggiungi una transizione per la dissolvenza */
  }

  /* Aggiungi uno stile per l'animazione di caricamento */
  #loader svg {
    width: 50px; /* Personalizza la larghezza dell'immagine di caricamento */
    height: 50px; /* Personalizza l'altezza dell'immagine di caricamento */
    animation: spin 1s linear infinite; /* Animazione di rotazione */
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Imposta l'opacità a 0 quando la classe "loaded" è presente */
body.loaded #loader {
  opacity: 0;
  pointer-events: none; /* Rendi il div di caricamento non interattivo */
}

body.loaded main {
  opacity: 1;
}
.main-title {
  position: relative;
  overflow: hidden;
}

.main-title h2 {
  font-size: 3.5rem;
  font-weight: 700;
}

.main-title span {
  color: #255b64;
}

.bg-text {
  position: absolute;
  width: 100vw;
  left: 50%;
  margin-top: 20px;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 700;
  color: #6b2020;
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;
  font-size: 4.5rem;
}

.main-title:hover .bg-text {
  opacity: 0.5;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .main-title {
    padding-top: 60px;
  }
}
@media screen and (min-width: 767px) and (max-width: 828px) {
  .skills{
    margin-top: 10px;
  }
}

body {
  overflow-x: hidden;
}

.skills {
  overflow: hidden;
  white-space: nowrap;
  width: 100%; /* Assicurati che il div occupi l'intera larghezza del viewport */
}

.skills img {
  width: 55px;
  height: 55px;
  margin-right: 5px; /* Spazio tra le immagini (puoi regolare secondo le tue preferenze) */
  display: inline-block;
  opacity: 0; /* Imposta l'opacità a 0 inizialmente */
  animation: fadeIn 2s ease-in-out forwards; /* Aggiungi un'animazione di dissolvenza iniziale */
}

/* Aggiungi un'animazione di scorrimento */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%); /* Cambia il punto di partenza a metà dell'animazione */
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Aggiungi un'animazione di dissolvenza per mostrare i loghi prima di ricominciare lo scorrimento */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Applica l'animazione al tuo div "skills" */
.skills {
  animation: marquee 10s linear infinite; /* Regola la velocità e la durata dell'animazione */
}
@media screen and (max-width: 790px) {
  .skills img {
    width: 35px; /* Ulteriore riduzione della larghezza massima per adattarsi a schermi molto piccoli */
    height: 35px;
    max-width: 15vw; /* Riduci ulteriormente la larghezza massima per adattarsi a schermi più piccoli */
    margin-right: 3vw; /* Riduci il margine tra le immagini su schermi più piccoli */
  }
}

/* Media query aggiuntiva per schermi ancora più piccoli, se necessario */
@media screen and (max-width: 600px) {
  .skills img {
    width: 35px; /* Ulteriore riduzione della larghezza massima per adattarsi a schermi molto piccoli */
    height: 35px;
    margin-right: 2vw; /* Riduci ulteriormente il margine tra le immagini su schermi molto piccoli */
  }
}

